/* Reset */

*{
margin: 0;
padding: 0;
box-sizing: border-box;

}


/* BODY */
body{
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 140px;
  
}

.nomedapadaria {
    color: wheat;
    text-align: center;
    margin-bottom: 5px;
    
}


/* =========== Header ============= */

.header{
    background-color:  rgb(141, 73, 0);
    color: aliceblue;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    text-align: center;
    border: 3.5px;

}

main{
    margin-top: 100px;
}

.nav-prod{
list-style: none;
margin-top: auto;
text-decoration: none;
}

.nav-menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 5px;
    text-decoration: none;
    flex-wrap: wrap;
}

.nav-menu  li {
    margin: 0 15px;
    
}

.nav-menu a {
    color: aliceblue;
    text-decoration: none;
}


.nav-menu a:hover{
    text-decoration: underline;

}


.nav-m{
    list-style: none;
    margin-top:10px;
    text-decoration: none;
}

.nav-m ol li{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
}

.nav-m a{
    text-decoration: none;
}

.nav-m a:hover{
    text-decoration: underline;
}

.titulo-do-section{
    text-align: center;
    color: brown;
    display: flex;
    margin-bottom: 25px;
    
}

section {
scroll-margin-top: 180px;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card{
    text-align:center;
    border-color: wheat;
    border-radius: 25px;
    padding: 15px;
    border: 1px solid #654321;
    
    
}
.product-card:hover{
    transform: scale(1.03);
}

/* Tablet (>= 768) */
@media (min-width: 768px) {
    .products{
        grid-template-columns: repeat(2, 1fr);
    }
}

/*  Desktop (>= 1024px) */
@media (min-width: 1024px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

.product-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: auto 10px;
}

.product-card h3 {
    border: none;
    color:#654321;
    margin-bottom: 10px;
}

.product-card p {
    color: bisque;
    margin-bottom: 15px;
}

.product-card button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

th{
    text-align: right;
}

button{
    background-color:  #654321;
    color: wheat;
    padding: 2px;
    text-align: center;
    
    border-radius: 5px;
    border: 3px solid #654321;
}

table{
background-color:  #654321;
color: black;
text-align: center;
border-spacing: 15px;
padding:50px;
border-radius: 15px;
border-color: saddlebrown;
border-width: 15px;
}


section{
 border: 4px solid burlywood;
 text-decoration: none;
}

p{
    color: wheat;
}

article{
    border: 10px solid sienna;
}

h3{
    text-align: center;
    border: 5px solid #654321;
}



.table{
    text-align: center;
    border-color: saddlebrown;
    border-width: 10px;
    border-radius: 20px;
}


.footer {
    background-color: wheat;
    color: #222;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    
}

html {
    scroll-behavior: smooth;
}